@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.ww-purple {
  color: #64025f;
}

.ww-purple-bg {
  background-color: #64025f;
}

.inter-font {
  font-family: Inter;
}
